body{
background-color: #242628;
}
h1{
	color:white;
	text-align: center;
}
p{
	color:white;
	text-align: center;
}
li{
	color: white;
}

   .photo1 {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }
   .photo1:hover::after {
    content: attr(Сакраменто – столица американского штата Калифорния, расположенная на месте впадения реки Американ-Ривер в реку Сакраменто. В районе старого Сакраменто сохранилась атмосфера времен золотой лихорадки: деревянные тротуары и старые повозки. Среди музеев этого района выделяется Калифорнийский железнодорожный музей, экспозиция которого посвящена строительству Трансконтинентальной железной дороги – одному из первых технических достижений страны); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }
   .list{
   text-align: center;
   }
   ul li {
	display: inline-block;
	font-size: 20px;
	
}